body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow';
}

div.shell {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img.logo {
  width: 400px;
}

div.main {
  font-size: 22px;
  padding: 10px;
  text-align: center;
}

div.main > p.description {
  font-size: 18px;
  text-align: center;
}

div.main > p.examples {
  font-size: 18px;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(133, 65, 65);
}

code {
  font-size: 14px;
  display: block;
  white-space: pre-wrap;
  text-align: left;
  background: rgb(255, 228, 199);
  padding: 15px;
  border-radius: 3px;
}
