* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow';
}

div.shell {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

img.logo {
  width: 340px;
}

div.main {
  width: 100%;
  font-size: 22px;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
}

div.main > p.description {
  font-size: 18px;
  text-align: center;
}

div.main > p.examples {
  font-size: 18px;
  text-align: center;
}

.action {
  padding: 10px;
}

.button {
  background: rgb(49, 69, 121);
  border-radius: 5px;
  padding: 15px;
  padding-bottom: 18px;
  color: white;
}

.button > a {
  color: white;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: rgb(133, 65, 65);
}

code {
  font-size: 14px;
  display: block;
  white-space: pre-wrap;
  text-align: left;
  background: rgb(255, 228, 199);
  padding: 15px;
  border-radius: 3px;
}

img.screenshot {
  border-radius: 4px;
  box-shadow: 2px 2px 5px 2px #888888;
  padding: 0;
  margin: 0;
}
