$font-stack: "Barlow"

$background: #1a1a1d
$color-first: #c3073f
$color-second: #950740
$color-third: #6f2232

$color-bright: white
$color-dull: #4e4e50

body
    font-family: $font-stack
    background: $background
    padding: 0
    margin: 0
    color: $color-second

.shell
    padding: 0
    display: flex
    justify-content: center
    align-items: center
    height: 80%
    width: 100%

.form
    padding: 20
    max-width: 300px
    background: #222

.message
    padding: 10
    color: $color-bright
    text-align: center

h2
    padding: 0
    margin: 0
    color: $color-first

i.material-icons
    font-size: 80px
    padding: 10px
