<html>
  <head>
    <title>
      {{title}}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
     />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Barlow:500"
     />

  </head>
  <body>
    <div class="entry">
      <h1>
        {{title}}
      </h1>
      <div>
        <i class="material-icons">
          face
        </i>
      </div>
    </div>
  </body>
</html>